html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#kaleidoscope-sketch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#kaleidoscope-sketch canvas {
  border: 10px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}
